/*
Template Name: Sunny Admin - Responsive Admin Template
Author: Psd to Html Expert
File: scss
*/

@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i|Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
/*Social Media Colors*/

/*Theme Colors*/

/*Lite color*/

/*Theme Colors For Dark*/

/*---light skin---*/

.light-skin .main-header li.user-header {
  background-color: #ffffff;
}

.light-skin .main-header .navbar .sidebar-toggle {
  color: #475f7b;
}

.light-skin .main-header .navbar .res-only-view {
  color: #475f7b;
}

.light-skin .main-header .navbar .nav>li>a {
  color: #d5dfea;
}

.light-skin .main-header .navbar .nav>li>a:hover, .light-skin .main-header .navbar .nav>li>a:active, .light-skin .main-header .navbar .nav>li>a:focus {
  background-color: rgba(0, 0, 0, 0.05);
}

.light-skin .main-header .navbar .nav .open>a {
  background-color: rgba(0, 0, 0, 0.05);
}

.light-skin .main-header .navbar .nav .open>a:hover, .light-skin .main-header .navbar .nav .open>a:focus {
  background-color: rgba(0, 0, 0, 0.05);
}

.light-skin .main-header .navbar .nav>.active>a {
  background-color: rgba(0, 0, 0, 0.05);
}

.light-skin .main-sidebar {
  -webkit-box-shadow: 0 0 21px 0 rgba(89, 102, 122, 0.1);
  box-shadow: 0 0 21px 0 rgba(89, 102, 122, 0.1);
  background-color: #ffffff;
}

.light-skin .user-panel>.info {
  color: #ffffff;
}

.light-skin .user-panel>.info>a {
  color: #ffffff;
}

.light-skin .sidebar-menu>li:hover>a, .light-skin .sidebar-menu>li:active>a, .light-skin .sidebar-menu>li.active>a {
  color: #475f7b;
}

.light-skin .sidebar-menu>li.menu-open>a {
  color: #475f7b;
}

.light-skin .sidebar-menu>li>.treeview-menu {
  margin: 0 0px;
}

.light-skin.sidebar-collapse .sidebar-menu>li>.treeview-menu {
  background-color: #f2f4f4;
}

.light-skin.sidebar-mini.sidebar-collapse .sidebar-menu>li>a>span {
  background-color: #f2f4f4 !important;
}

.light-skin .sidebar a {
  color: #475f7b;
}

.light-skin .sidebar a:hover {
  text-decoration: none;
}

.light-skin .sidebar-form {
  border-radius: 3px;
  border: 1px solid gray;
}

.light-skin .sidebar-form input[type="text"] {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.59);
  border: 1px solid rgba(0, 0, 0, 0.59);
  height: 35px;
  color: #ffffff;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}

.light-skin .sidebar-form input[type="text"]:focus {
  color: #ffffff;
}

.light-skin .sidebar-form input[type="text"]:focus+.input-group-btn .btn {
  color: #ffffff;
}

.light-skin .sidebar-form .btn {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.59);
  border: 1px solid rgba(0, 0, 0, 0.59);
  height: 35px;
  color: #d5dfea;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}

.light-skin .control-sidebar {
  color: #475f7b;
  background-color: #ffffff;
}

.light-skin .control-sidebar+.control-sidebar-bg {
  -webkit-box-shadow: 0px 5px 10px 1px rgba(77, 77, 77, 0.2);
  -moz-box-shadow: 0px 5px 10px 1px rgba(77, 77, 77, 0.2);
  box-shadow: 0px 5px 10px 1px rgba(77, 77, 77, 0.2);
}

.light-skin .control-sidebar .nav-tabs.control-sidebar-tabs {
  border-bottom: 1px solid #cccccc;
}

.light-skin .control-sidebar .nav-tabs.control-sidebar-tabs>li>a {
  color: #475f7b;
  border-bottom-color: #cccccc;
}

.light-skin .control-sidebar .nav-tabs.control-sidebar-tabs>li>a:hover, .light-skin .control-sidebar .nav-tabs.control-sidebar-tabs>li>a:active, .light-skin .control-sidebar .nav-tabs.control-sidebar-tabs>li>a:focus {
  border-bottom-color: #cccccc;
  background-color: transparent;
}

.light-skin .control-sidebar .nav-tabs.control-sidebar-tabs>li>a.active {
  background-color: transparent;
}

.light-skin .control-sidebar .nav-tabs.control-sidebar-tabs>li>a.active:hover, .light-skin .control-sidebar .nav-tabs.control-sidebar-tabs>li>a.active:active, .light-skin .control-sidebar .nav-tabs.control-sidebar-tabs>li>a.active:focus {
  background-color: transparent;
}

.light-skin .control-sidebar .control-sidebar-heading {
  color: #475f7b;
}

.light-skin .control-sidebar .control-sidebar-subheading {
  color: #475f7b;
}

.light-skin .control-sidebar .control-sidebar-menu {
  margin-left: -14px;
}

.light-skin .control-sidebar .control-sidebar-menu>li>a:hover {
  background-color: #d5dfea;
}

.light-skin .control-sidebar .control-sidebar-menu>li>a .menu-info>p {
  color: #666666;
}

.control-sidebar+.control-sidebar-bg {
  background-color: #ffffff;
}

@media (max-width: 767px) {
  .light-skin.sidebar-mini.sidebar-collapse .sidebar-menu>li>a>span {
    background-color: rgba(255, 255, 255, 0) !important;
  }
  .light-skin.sidebar-mini.sidebar-collapse .sidebar-menu>li.menu-open>a {
    background-color: rgba(255, 255, 255, 0.95) !important;
  }
  .light-skin.sidebar-mini.sidebar-collapse .sidebar-menu>li.active>a {
    background-color: rgba(255, 255, 255, 0.95) !important;
  }
}

.alert-primary, .alert-danger, .alert-error, .alert-info, .alert-success, .alert-warning, .bg-black, .bg-black-active, .callout.callout-danger, .callout.callout-info, .callout.callout-success, .callout.callout-warning, .callout.callout-primary, .label-danger, .label-info, .label-primary, .label-success, .label-warning, .modal-danger .modal-body, .modal-danger .modal-footer, .modal-danger .modal-header, .modal-info .modal-body, .modal-info .modal-footer, .modal-info .modal-header, .modal-primary .modal-body, .modal-primary .modal-footer, .modal-primary .modal-header, .modal-success .modal-body, .modal-success .modal-footer, .modal-success .modal-header, .modal-warning .modal-body, .modal-warning .modal-footer, .modal-warning .modal-header, .bg-warning, .bg-gray, .modal-primary .modal-header *, .modal-info .modal-header *, .modal-success .modal-header *, .modal-danger .modal-header *, .modal-warning .modal-header * {
  color: #ffffff;
}

/*---Dark skin---*/

body.dark-skin {
  background-color: #1a233a;
  color: #8a99b5;
}

body.dark-skin .navbar-nav>.user-menu>.dropdown-menu>.user-body {
  border-color: rgba(255, 255, 255, 0.12);
}

body.dark-skin .navbar-nav>.dropdown>.dropdown-menu>li .menu>li>a {
  border-color: rgba(255, 255, 255, 0.12);
  color: #8a99b5;
}

body.dark-skin .navbar-nav>.dropdown>.dropdown-menu>li .menu>li>a>div>h4 {
  color: #bdd1f8;
}

body.dark-skin .navbar-nav>.dropdown>.dropdown-menu>li .menu>li>a>div>h4>small {
  color: #bdd1f8;
}

body.dark-skin .navbar-nav>.dropdown>.dropdown-menu>li .menu>li>a>div>span {
  color: #8a99b5;
}

body.dark-skin .navbar-nav>.dropdown>.dropdown-menu>li .menu>li>a>h3 {
  color: #bdd1f8;
}

body.dark-skin .navbar-nav>.dropdown>.dropdown-menu>li .menu>li>a:hover {
  background-color: rgba(26, 35, 58, 0.2);
}

body.dark-skin .navbar-nav>.dropdown>.dropdown-menu>li.header {
  border-color: rgba(255, 255, 255, 0.12);
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  color: #8a99b5;
  background-color: #222e4c;
}

body.dark-skin .main-sidebar .sidebar-footer {
  background-color: #272e48;
}

body.dark-skin .user-profile .ulogo h3 {
  color: #bdd1f8;
}

.dark-skin h1, .dark-skin h2, .dark-skin h3, .dark-skin h4, .dark-skin h5, .dark-skin h6 {
  color: #bdd1f8;
}

.dark-skin a {
  color: #8a99b5;
}

.dark-skin a.bg-light:hover, .dark-skin a.bg-light:focus {
  background-color: #4963a4 !important;
}

.dark-skin .form-control {
  background-color: #272e48;
  color: #8a99b5;
}

.dark-skin .search-box .app-search .srh-btn {
  background-color: #415892;
}

.dark-skin .content-header .breadcrumb {
  color: #8a99b5;
}

.dark-skin .content-header .breadcrumb .breadcrumb-item a {
  color: #8a99b5;
}

.dark-skin .content-header .breadcrumb .breadcrumb-item.active {
  color: #566f9e;
}

.dark-skin .dropdown-menu {
  background-color: #222e4c;
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .dropdown-menu>li>a {
  color: #8a99b5;
}

.dark-skin .dropdown-grid {
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .dropdown-grid .dropdown-item:hover {
  border-color: #4963a4;
}

.dark-skin .dropdown-divider {
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .dropdown-item:hover, .dark-skin .dropdown-item:focus {
  background-color: #2a385d;
  color: #8a99b5;
}

.dark-skin .content-header .page-title {
  color: #8a99b5;
  border-color: #899bca;
}

.dark-skin .content-header .right-title .dropdown>.btn {
  border-color: rgba(255, 255, 255, 0.12) !important;
  background-color: #415892;
}

.dark-skin .subheader_daterange {
  background-color: #415892;
}

.dark-skin .ranges li {
  background-color: rgba(26, 35, 58, 0.2);
  border-color: rgba(255, 255, 255, 0.12);
  color: #8a99b5;
}

.dark-skin .btn-default {
  background-color: #272e48;
  color: #8a99b5;
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .btn-default.hover {
  background-color: #415892;
  border-color: #415892;
}

.dark-skin .btn-default:hover, .dark-skin .btn-default:active, .dark-skin .btn-default.active {
  background-color: #415892;
  border-color: #415892;
}

.dark-skin .btn.btn-outline {
  color: #8a99b5;
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .btn.btn-outline:hover {
  color: #ffffff;
  background-color: rgba(26, 35, 58, 0.2);
}

.dark-skin .btn.btn-outline.btn-white {
  color: #475f7b !important;
  border-color: #ffffff !important;
}

.dark-skin .btn.btn-outline.btn-dark {
  color: #8a99b5 !important;
  background-color: transparent;
  border-color: #475f7b;
}

.dark-skin .btn-toggle:before, .dark-skin .btn-toggle:after {
  color: #8a99b5;
}

.dark-skin button.bg-light:hover, .dark-skin button.bg-light:focus {
  background-color: #4963a4 !important;
}

.dark-skin .btn-light {
  background-color: #222e4c;
  border-color: rgba(255, 255, 255, 0.12);
  color: #8a99b5;
}

.dark-skin .box-controls li>a {
  color: #8a99b5;
}

.dark-skin .box {
  background-color: #415892;
}

.dark-skin .box .box-header {
  color: #8a99b5;
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .box .box-header .box-subtitle {
  color: #8a99b5;
}

.dark-skin .box .box-footer {
  background-color: #272e48;
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .box .box-transparent {
  background-color: transparent !important;
  box-shadow: none !important;
}

.dark-skin .box[class*=bg-pale]>.box-header {
  color: #475f7b;
}

.dark-skin .box.box-solid .box-body {
  background-color: #272e48 !important;
  color: #8a99b5;
}

.dark-skin .box.box-solid.box-default>.box-header {
  color: #475f7b;
  background-color: #d5dfea;
}

.dark-skin .box.box-solid.box-default>.box-header .btn {
  color: #475f7b;
}

.dark-skin .box.box-solid.box-default>.box-header a {
  color: #475f7b;
}

.dark-skin .box.box-solid.box-default>.box-header>.box-tools .btn {
  border: 0;
  box-shadow: none;
}

.dark-skin .box .border-right {
  border-right: 1px solid rgba(255, 255, 255, 0.12) !important;
}

.dark-skin .box .border-left {
  border-left: 1px solid rgba(255, 255, 255, 0.12) !important;
}

.dark-skin .box .overlay {
  background: rgba(255, 255, 255, 0.7);
}

.dark-skin .box .flex-column>li {
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .box .knob-label {
  color: #778cc2;
}

.dark-skin .box-inverse {
  color: #ffffff !important;
  background-color: #4963a4;
}

.dark-skin .box-inverse .box-header {
  color: #ffffff !important;
  border-color: rgba(255, 255, 255, 0.15);
}

.dark-skin .box-inverse .box-title {
  color: #ffffff !important;
}

.dark-skin .box-inverse h1, .dark-skin .box-inverse h2, .dark-skin .box-inverse h3, .dark-skin .box-inverse h4, .dark-skin .box-inverse h5, .dark-skin .box-inverse h6, .dark-skin .box-inverse small {
  color: #ffffff !important;
}

.dark-skin .box-inverse .box-controls li>a {
  color: #8a99b5 !important;
}

.dark-skin .box-inverse .box-footer {
  border-color: rgba(255, 255, 255, 0.5);
}

.dark-skin .box-inverse .box-action {
  border-color: rgba(255, 255, 255, 0.5);
}

.dark-skin .box-inverse .box-btn-more:before, .dark-skin .box-inverse .box-btn-more:after {
  border-color: #ffffff;
}

.dark-skin .box-gray {
  background-color: #899bca;
}

.dark-skin .box-gray.box-bordered {
  border-color: #899bca;
}

.dark-skin .box-dark {
  background-color: #475f7b;
}

.dark-skin .box-dark .box-bordered {
  border-color: #475f7b;
}

.dark-skin .box-bordered {
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .box-profile.nav-tabs-custom>.nav-tabs {
  background-color: #222e4c;
}

.dark-skin .box-profile.nav-tabs-custom>.nav-tabs>li>a.active {
  color: #8a99b5;
}

.dark-skin .box-profile.nav-tabs-custom>.nav-tabs>li>a.active:hover {
  color: #8a99b5;
}

.dark-skin .box-comments .username {
  color: #ffffff;
}

.dark-skin .box-comments .username .comment-text {
  color: #bec8e2;
}

.dark-skin .box-comments .box-comment {
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .card {
  background-color: #272e48;
}

.dark-skin .card .card-header {
  background-color: transparent !important;
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .card .card-footer {
  background-color: transparent !important;
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .left-block {
  border-color: rgba(255, 255, 255, 0.12) !important;
  background-color: rgba(34, 46, 76, 0.5);
}

.dark-skin .left-block .left-content-area>.box {
  background-color: #222e4c;
}

.dark-skin .left-block .left-content-area>.card {
  background-color: #222e4c;
}

.dark-skin .todo-list>li {
  color: #8a99b5;
}

.dark-skin .btn-box-tool:hover {
  color: #8a99b5;
}

.dark-skin .show .btn-box-tool {
  color: #8a99b5;
}

.dark-skin .page-header {
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .overlay-wrapper .overlay {
  background: rgba(255, 255, 255, 0.7);
}

.dark-skin .info-box {
  background-color: #272e48;
}

.dark-skin .badge-default {
  background-color: #272e48;
}

.dark-skin code {
  border-color: rgba(255, 255, 255, 0.12);
  background-color: #1a233a;
}

.dark-skin .code-preview {
  border-color: rgba(255, 255, 255, 0.12);
  background-color: #1a233a;
}

.dark-skin .table {
  color: #8a99b5;
}

.dark-skin .table>thead.thead-light th {
  background-color: #1a233a;
  color: #bdd1f8;
}

.dark-skin .table>thead>tr>th {
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .table>thead>tr>td {
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .table>tbody>tr>td {
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .table>tbody>tr>th {
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .table>tfoot>tr>td {
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .table>tfoot>tr>th {
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .table-bordered {
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .table-bordered>tbody>tr>td {
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .table-bordered>tbody>tr>th {
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .table-bordered>tfoot>tr>td {
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .table-bordered>tfoot>tr>th {
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .table-bordered>thead>tr>td {
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .table-bordered>thead>tr>th {
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .table-active {
  background-color: #3a4e80;
}

.dark-skin .table-active>th {
  background-color: #3a4e80;
}

.dark-skin .table-active>td {
  background-color: #3a4e80;
}

.dark-skin .table-separated tbody tr {
  background-color: #475f7b;
}

.dark-skin .dataTable input {
  border-color: rgba(255, 255, 255, 0.12);
  color: #778cc2;
  background-color: #32436f;
}

.dark-skin .dataTable select {
  border-color: rgba(255, 255, 255, 0.12);
  color: #778cc2;
  background-color: #32436f;
}

.dark-skin .page-item.disabled .page-link {
  color: #8a99b5;
  background-color: #1a233a;
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .pagination>li>a {
  background-color: #475f7b;
  color: #8a99b5;
}

.dark-skin .paging_simple_numbers .pagination .paginate_button {
  background-color: transparent;
}

.dark-skin .paging_simple_numbers .pagination .paginate_button:hover {
  background-color: transparent;
}

.dark-skin .nav>li>a:hover, .dark-skin .nav>li>a:active, .dark-skin .nav>li>a:focus {
  color: #879fba;
}

.dark-skin .nav-tabs-custom>.nav-tabs>li>a.active {
  background-color: #2a385d;
  color: #8a99b5;
  border-left-color: rgba(255, 255, 255, 0.12);
  border-right-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .nav-tabs-custom>.nav-tabs>li>a.active:hover {
  background-color: #2a385d;
  color: #8a99b5;
}

.dark-skin .media-list-hover>.media:not(.media-list-header):not(.media-list-footer):hover {
  background-color: rgba(26, 35, 58, 0.2);
}

.dark-skin .media-list-hover .media-list-body>.media:hover {
  background-color: rgba(26, 35, 58, 0.2);
}

.dark-skin .media a:not(.btn):not(.avatar) {
  color: #8a99b5;
}

.dark-skin .modal-content {
  background-color: #4963a4;
}

.dark-skin .modal-header {
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .modal-footer {
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .media-body>p:last-child {
  color: #8a99b5;
}

.dark-skin .modal-fill .modal-content {
  background-color: #475f7b;
}

.dark-skin .modal.modal-fill {
  background-color: #475f7b;
}

.dark-skin .media-list-divided>.media:not(.media-list-header):not(.media-list-footer) {
  border-bottom-color: rgba(255, 255, 255, 0.2);
}

.dark-skin .media-list-divided .media-list-body>.media {
  border-bottom-color: rgba(255, 255, 255, 0.2);
}

.dark-skin .close {
  color: #acb9da;
  text-shadow: none;
}

.dark-skin .flex-column>li>a {
  color: #acb9da;
}

.dark-skin .mailbox-nav .nav-pills>li>a:hover, .dark-skin .mailbox-nav .nav-pills>li>a:focus {
  background-color: rgba(26, 35, 58, 0.2);
}

.dark-skin .mailbox-nav .nav-pills>li>a.active:hover, .dark-skin .mailbox-nav .nav-pills>li>a.active:focus {
  background-color: rgba(26, 35, 58, 0.2);
}

.dark-skin .mailbox-messages table a {
  color: #8a99b5;
}

.dark-skin .mailbox-messages .mailbox-date {
  font-size: 12px;
  color: #8a99b5;
}

.dark-skin .mailbox-controls.with-border {
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .mailbox-read-info {
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .mailbox-read-time {
  color: #8a99b5;
}

.dark-skin .mailbox-attachment-info {
  background-color: #32436f;
}

.dark-skin .mailbox-attachments li {
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .callout .highlight {
  background-color: #272e48;
}

.dark-skin .callout code {
  background-color: #272e48;
}

.dark-skin .wysihtml5-toolbar .btn-default {
  background-color: #272e48;
}

.dark-skin .wysihtml5-sandbox {
  background-color: #272e48 !important;
  border-color: rgba(255, 255, 255, 0.12) !important;
}

.dark-skin .wysihtml5-sandbox body.placeholder {
  background-color: #32436f !important;
  border-color: rgba(255, 255, 255, 0.12) !important;
}

.dark-skin .lookup::before {
  color: #8a99b5;
}

.dark-skin .lookup input {
  color: #8a99b5;
}

.dark-skin .form-control {
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .form-element .form-control {
  color: #8a99b5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFB800), to(#FFB800)), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.12)), to(rgba(255, 255, 255, 0.12)));
  background-image: -webkit-linear-gradient(#FFB800, #FFB800), -webkit-linear-gradient(rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12));
  background-image: -o-linear-gradient(#FFB800, #FFB800), -o-linear-gradient(rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12));
  background-image: linear-gradient(#FFB800, #FFB800), linear-gradient(rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12));
}

.dark-skin .form-element .form-control:focus {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFB800), to(#FFB800)), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.12)), to(rgba(255, 255, 255, 0.12)));
  background-image: -webkit-linear-gradient(#FFB800, #FFB800), -webkit-linear-gradient(rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12));
  background-image: -o-linear-gradient(#FFB800, #FFB800), -o-linear-gradient(rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12));
  background-image: linear-gradient(#FFB800, #FFB800), linear-gradient(rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12));
}

.dark-skin .input-group .input-group-addon {
  border-color: rgba(255, 255, 255, 0.12);
  color: #8a99b5;
  background-color: #32436f;
}

.dark-skin .input-group-text {
  border-color: rgba(255, 255, 255, 0.12);
  color: #8a99b5;
  background-color: #32436f;
}

.dark-skin .direct-chat-text p {
  background: #32436f;
  color: #e1e6f2;
}

.dark-skin .direct-chat-timestamp {
  color: #9baad2;
}

.dark-skin time {
  color: #8a99b5;
}

.dark-skin .wizard-content .wizard>.steps>ul>li {
  background-color: #32436f;
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin ul .list-style-none li a {
  color: #e1e6f2;
}

.dark-skin .divider-dash {
  color: #e1e6f2;
}

.dark-skin .divider:before, .dark-skin .divider:after {
  border-top: 1px solid #4963a4;
}

.dark-skin .fc-toolbar .fc-center {
  color: #8a99b5;
}

.dark-skin .fc-button {
  background-color: #32436f;
  border-color: rgba(255, 255, 255, 0.12);
  color: #8a99b5;
  text-shadow: none;
}

.dark-skin .fc th[class*=fc-] {
  background-color: #32436f;
}

.dark-skin .fc th.fc-widget-header {
  color: #8a99b5;
}

.dark-skin .fc-unthemed .fc-content {
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .fc-unthemed .fc-divider {
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .fc-unthemed .fc-list-heading td {
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .fc-unthemed .fc-list-view {
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .fc-unthemed .fc-popover {
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .fc-unthemed .fc-row {
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .fc-unthemed tbody {
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .fc-unthemed td {
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .fc-unthemed th {
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .fc-unthemed thead {
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .fc-unthemed .fc-today {
  border-color: rgba(255, 255, 255, 0.12);
  background-color: #32436f !important;
}

.dark-skin .fc-day {
  background-color: #303959;
}

.dark-skin .publisher-multi .publisher-input {
  color: #ffffff;
}

.dark-skin .user-block .description {
  color: #8a99b5;
}

.dark-skin .post {
  border-bottom-color: rgba(255, 255, 255, 0.12);
  color: #8a99b5;
}

.dark-skin .blockquote {
  color: #8a99b5;
}

.dark-skin .blockquote footer {
  color: #8a99b5;
}

.dark-skin .progress {
  background-color: #32436f;
}

.dark-skin .ribbon-wrapper {
  background-color: #32436f;
}

.dark-skin .ribbon-wrapper-reverse {
  background-color: #32436f;
}

.dark-skin .ribbon-wrapper-bottom {
  background-color: #32436f;
}

.dark-skin .ribbon-wrapper-right-bottom {
  background-color: #32436f;
}

.dark-skin .flexslider {
  background: #4963a4;
  border-color: transparent;
}

.dark-skin .slider-track {
  background-color: #32436f;
  background-image: -moz-linear-gradient(top, #32436f, #32436f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#32436f), to(#32436f));
  background-image: -webkit-linear-gradient(top, #32436f, #32436f);
  background-image: -o-linear-gradient(top, #32436f, #32436f);
  background-image: linear-gradient(to bottom, #32436f, #32436f);
}

.dark-skin .vtabs .tabs-vertical li .nav-link {
  color: #8a99b5;
}

.dark-skin .tabcontent-border {
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .nav-tabs {
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .nav-tabs .nav-link {
  border-color: rgba(255, 255, 255, 0.12);
  color: #8a99b5;
}

.dark-skin .nav-tabs .nav-link.active {
  color: #ffffff !important;
}

.dark-skin .nav-pills>li>a {
  color: #8a99b5;
}

.dark-skin .nav-pills>li>a.active {
  color: #ffffff !important;
}

.dark-skin .nav-tabs-inverse-mode .nav-link.active {
  color: #8a99b5 !important;
}

.dark-skin .nav-tabs-inverse-mode .nav-link.active:hover, .dark-skin .nav-tabs-inverse-mode .nav-link.active:focus {
  color: #8a99b5 !important;
}

.dark-skin .timeline__post {
  background-color: #32436f;
}

.dark-skin .timeline .timeline-item>.timeline-event {
  background-color: #32436f;
  border-color: rgba(255, 255, 255, 0.12);
  color: #8a99b5;
}

.dark-skin .timeline .timeline-item>.timeline-event.timeline-event-default {
  background-color: #32436f;
  border-color: rgba(255, 255, 255, 0.12);
  color: #8a99b5;
}

.dark-skin .timeline .timeline-item>.timeline-event.timeline-event-default:before {
  border-left-color: rgba(255, 255, 255, 0.12);
  border-right-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .timeline .timeline-item>.timeline-event.timeline-event-default:after {
  border-left-color: #32436f;
  border-right-color: #32436f;
}

.dark-skin .timeline .timeline-item>.timeline-event:before {
  border-left-color: rgba(255, 255, 255, 0.12);
  border-right-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .timeline .timeline-item>.timeline-event:after {
  border-left-color: #32436f;
  border-right-color: #32436f;
}

.dark-skin .panel {
  background-color: #32436f;
}

.dark-skin .panel-title {
  color: #8a99b5;
}

.dark-skin .fontawesome-icon-list .fa-hover {
  color: #8a99b5;
}

.dark-skin .ion-icon-list .ion-hover {
  color: #8a99b5;
}

.dark-skin .bs-glyphicons li {
  border-color: rgba(255, 255, 255, 0.12);
  color: #8a99b5;
}

.dark-skin .icon-list-demo div {
  color: #8a99b5;
}

.dark-skin .dp-off {
  background-color: #32436f !important;
}

.dark-skin .dp-divider {
  border-color: rgba(255, 255, 255, 0.12) !important;
}

.dark-skin .myadmin-dd .dd-list .dd-item .dd-handle {
  background-color: #32436f;
}

.dark-skin .myadmin-dd .dd-list .dd3-content {
  background-color: #32436f;
}

.dark-skin .myadmin-dd .dd-list .dd3-handle {
  background-color: #32436f;
}

.dark-skin .grid-stack-item-content {
  background-color: #32436f;
  color: #8a99b5;
}

.dark-skin .sweet-alert {
  background-color: #32436f;
}

.dark-skin .sweet-alert h2 {
  color: #8a99b5;
}

.dark-skin .sweet-alert p {
  color: #8a99b5;
}

.dark-skin .sweet-alert .sa-icon.sa-success:before, .dark-skin .sweet-alert .sa-icon.sa-success:after {
  background-color: #32436f;
}

.dark-skin .sweet-alert .sa-icon.sa-success .sa-fix {
  background-color: #32436f;
}

.dark-skin .ct-grid {
  stroke: rgba(255, 255, 255, 0.2);
}

.dark-skin .ct-label {
  fill: rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 0.4);
}

.dark-skin .invoice {
  border-color: rgba(255, 255, 255, 0.12);
  background-color: #303959;
}

.dark-skin .invoice-details {
  border-color: rgba(255, 255, 255, 0.12);
  background-color: #303959;
}

.dark-skin .product-list-in-box>.item {
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .list-group-item {
  background-color: #272e48;
  border: 1px solid rgba(255, 255, 255, 0.12);
}

.dark-skin .list-style-none li.divider {
  background-color: #4963a4;
}

.dark-skin .attachment-block {
  background-color: #4963a4;
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .attachment-block .attachment-text {
  color: #778cc2;
}

.dark-skin .badge-ring::after {
  background-color: #415892;
}

.dark-skin :not(pre)>code[class*="language-"] {
  background: #32436f;
  border: 1px solid #3a4e80;
  border-left: 2px solid #FFB800;
}

.dark-skin pre[class*="language-"] {
  background: #32436f;
  border: 1px solid #3a4e80;
  border-left: 2px solid #FFB800;
}

.dark-skin hr {
  border-top-color: rgba(255, 255, 255, 0.1);
}

.dark-skin .icons-list-demo div {
  color: #cfd7ea;
}

.dark-skin .custom-file-label {
  background-color: #4963a4;
  border: 1px solid rgba(255, 255, 255, 0.12);
}

.dark-skin .custom-file-label ::after {
  color: #cfd7ea;
  background-color: #4963a4;
  border-left: 1px solid rgba(255, 255, 255, 0.12);
}

.dark-skin .dropzone {
  background-color: #32436f;
}

.dark-skin .main-header .logo-box {
  border-right: 1px solid #464d5c;
  background: #1a233a !important;
}

.dark-skin .main-header li.user-header {
  background-color: #ffffff;
}

.dark-skin .main-header .navbar {
  background: #272e48;
}

.dark-skin .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}

.dark-skin .main-header .navbar .res-only-view {
  color: #ffffff;
}

.dark-skin .main-header .navbar .nav>li>a {
  color: #8a99b5;
}

.dark-skin .main-header .navbar .nav>li>a:hover, .dark-skin .main-header .navbar .nav>li>a:active, .dark-skin .main-header .navbar .nav>li>a:focus {
  background-color: rgba(26, 35, 58, 0.05);
}

.dark-skin .main-header .navbar .nav .open>a {
  background-color: rgba(26, 35, 58, 0.05);
}

.dark-skin .main-header .navbar .nav .open>a:hover, .dark-skin .main-header .navbar .nav .open>a:focus {
  background-color: rgba(26, 35, 58, 0.05);
}

.dark-skin .main-header .navbar .nav>.active>a {
  background-color: rgba(26, 35, 58, 0.05);
}

.dark-skin .main-footer {
  background: #1a233a;
  color: #8a99b5;
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .main-sidebar {
  background-color: #272e48;
}

.dark-skin .left-side {
  box-shadow: 0 10px 15px -5px rgba(103, 133, 167, 0.07);
  background-color: rgba(73, 99, 164, 0.75);
}

.dark-skin .user-panel>.info {
  color: #ffffff;
}

.dark-skin .user-panel>.info>a {
  color: #ffffff;
}

.dark-skin .sidebar-menu {
  background: #1a233a;
}

.dark-skin .sidebar-menu>li.treeview.menu-open {
  background-color: rgba(26, 35, 58, 0) !important;
}

.dark-skin .sidebar-menu>li.treeview.menu-open>a {
  opacity: 1;
}

.dark-skin .sidebar-menu>li:hover>a {
  color: #8a99b5;
}

.dark-skin .sidebar-menu>li:hover>a>i {
  color: #8a99b5;
}

.dark-skin .sidebar-menu>li.active>a {
  color: #ffffff;
}

.dark-skin .sidebar-menu>li.active>a>i {
  color: #acb9da;
}

.dark-skin .sidebar-menu>li.active>a>i {
  color: #475f7b;
}

.dark-skin .sidebar-menu>li.active>a:after {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 22px 10px 22px 0;
  border-color: transparent #3a4e80 transparent transparent !important;
}

.dark-skin .sidebar-menu>li.menu-open>a {
  color: #ffffff;
}

.dark-skin .sidebar-menu>li.menu-open>a>i {
  color: #acb9da;
}

.dark-skin .sidebar-menu>li>a>i {
  color: #566f9e;
}

.dark-skin .sidebar-menu>li>.treeview-menu {
  margin: 0 0px;
}

.dark-skin .sidebar-menu li.header {
  color: #5a789b;
}

.dark-skin.sidebar-collapse .sidebar-menu>li>.treeview-menu {
  background-color: #2a385d;
}

.dark-skin.sidebar-mini.sidebar-collapse .sidebar-menu>li>a>span {
  background-color: #2a385d !important;
}

.dark-skin.sidebar-mini.sidebar-collapse .sidebar-menu>li.active>a>span {
  background-color: #2a385d !important;
}

@media (max-width: 767px) {
  .dark-skin.sidebar-mini.sidebar-collapse .sidebar-menu>li>a>span {
    background-color: rgba(73, 99, 164, 0) !important;
  }
  .dark-skin.sidebar-mini.sidebar-collapse .sidebar-menu>li.menu-open>a {
    background-color: rgba(73, 99, 164, 0) !important;
  }
  .dark-skin.sidebar-mini.sidebar-collapse .sidebar-menu>li.active>a {
    background-color: rgba(73, 99, 164, 0) !important;
  }
}

.dark-skin .sidebar a {
  color: #8a99b5;
  opacity: 1;
}

.dark-skin .sidebar a:hover {
  text-decoration: none;
}

.dark-skin .sidebar-form {
  border: 1px solid #acb9da;
}

.dark-skin .sidebar-form input[type="text"] {
  box-shadow: none;
  background-color: rgba(26, 35, 58, 0.59);
  border: 1px solid rgba(26, 35, 58, 0.59);
  color: #ffffff;
}

.dark-skin .sidebar-form input[type="text"]:focus {
  color: #ffffff;
}

.dark-skin .sidebar-form input[type="text"]:focus+.input-group-btn .btn {
  color: #ffffff;
}

.dark-skin .sidebar-form .btn {
  box-shadow: none;
  background-color: rgba(26, 35, 58, 0.59);
  border: 1px solid rgba(26, 35, 58, 0.59);
  color: #d5dfea;
}

.dark-skin .main-footer {
  background-color: #1a233a;
  color: #ffffff;
}

.dark-skin .nav-dot-separated .nav-item::after {
  color: #8a99b5;
}

.dark-skin .nav-dot-separated>.nav-link::after {
  color: #8a99b5;
}

.dark-skin .box {
  background-color: #272e48;
  box-shadow: -7.829px 11.607px 21px 0px rgba(25, 42, 70, 0.13);
}

.dark-skin .box.box-solid .box-title {
  color: #ffffff;
}

.dark-skin .box-header {
  color: #8a99b5;
}

.dark-skin .control-sidebar {
  color: #8a99b5;
  background-color: #222e4c;
}

.dark-skin .control-sidebar+.control-sidebar-bg {
  background-color: #222e4c;
}

.dark-skin .control-sidebar .nav-tabs.control-sidebar-tabs {
  border-bottom: 1px solid #546fb2;
}

.dark-skin .control-sidebar .nav-tabs.control-sidebar-tabs>li>a {
  color: #f3f5f9;
}

.dark-skin .control-sidebar .nav-tabs.control-sidebar-tabs>li>a:hove {
  color: #ffffff;
}

.dark-skin .control-sidebar .nav-tabs.control-sidebar-tabs>li>a:hover, .dark-skin .control-sidebar .nav-tabs.control-sidebar-tabs>li>a:active, .dark-skin .control-sidebar .nav-tabs.control-sidebar-tabs>li>a:focus {
  background-color: transparent;
}

.dark-skin .control-sidebar .nav-tabs.control-sidebar-tabs>li>a.active {
  background-color: transparent;
}

.dark-skin .control-sidebar .nav-tabs.control-sidebar-tabs>li>a.active:hover, .dark-skin .control-sidebar .nav-tabs.control-sidebar-tabs>li>a.active:active, .dark-skin .control-sidebar .nav-tabs.control-sidebar-tabs>li>a.active:focus {
  background-color: transparent;
}

.dark-skin .control-sidebar .control-sidebar-heading {
  color: #8a99b5;
}

.dark-skin .control-sidebar .control-sidebar-subheading {
  color: #8a99b5;
}

.dark-skin .control-sidebar .control-sidebar-menu>li>a .menu-info>p {
  color: #cfd7ea;
}

.dark-skin .control-sidebar-dark .control-sidebar-menu>li>a:hover {
  background-color: #2a385d;
}

.dark-skin .dropdown-grid {
  color: #8a99b5;
}

.dark-skin .text-muted {
  color: #566f9e !important;
}

.dark-skin .bg-light {
  background-color: #2b324f !important;
}

.dark-skin .bg-lighter {
  background-color: #303959 !important;
}

.dark-skin .bg-lightest {
  background-color: #394369 !important;
}

.dark-skin .table-hover tbody tr:hover {
  color: #bdd1f8;
}

.dark-skin .btn {
  color: #ffffff;
}

/*# sourceMappingURL=skin_color.css.map */