body {
    background: #FFF;
}


/* Helpers */

.l-h-32 {
    line-height: 32px;
}

.img-rounded-100 {
    border-radius: 100%;
}

.img-rounded-50 {
    border-radius: 50%;
}

.img-rounded-5 {
    border-radius: 5px;
}

#toTop {
    position: fixed;
    bottom: 30px;
    right: 36px;
    cursor: pointer;
    display: none;
    padding: 7px 12px;
    border-radius: 45px;
    background: #3f3a64;
    z-index: 4;
    border: #30295e;
    color: #fff;
    transition: ba 0s ease-in-out;
    opacity: 0.8;
}

@media screen and (max-width:600px) {
    .container,
    .container-fluid,
    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm {
        width: 90%;
    }
}

.effect-zoom img {
    transition: all 0.3s;
    transform: scale(1);
}

.effect-zoom img:hover {
    transform: scale(1.05);
}


/* Section - Form */

.section-form {
    background-color: #F9F9F9;
    padding: 40px 0;
}

.section-form h1 {
    font-size: 44px;
    color: #3f3a64;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
}

.section-form h1:after {
    content: '';
    margin: 20px auto;
    width: 20%;
    height: 4px;
    position: relative;
    display: block;
    background: #3f3a64;
}

.section-form h3 {
    color: #8c89a2;
    font-size: 23px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.section-form p {
    color: #8c89a2;
    font-size: 18px;
}

.section-form form {
    width: 450px;
    margin: 0 auto;
    display: inline-block;
}

@media screen and (max-width:600px) {
    .section-form form {
        width: 100%;
    }
}

.section-form .form-control {
    background: #FFF;
    border: 1px solid #e8e8e8;
    padding: 10px;
}

.section-form .btn.btn-success {
    background: #20ad96;
    border: 1px solid #1a58187a;
    border-bottom: 4px solid #1a58187a;
    padding: 13px 40px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Open sans', Arial, Helvetica, sans-serif;
}

@media screen and (max-width:600px) {
    .section-form .btn.btn-success {
        font-size: 24px;
    }
}

.section-form .btn.btn-success:hover {
    background: #3f3a64;
    border: 1px solid #2018587a;
    border-bottom: 4px solid #2018587a;
}

.section-form .progress {
    height: 2rem;
    border-radius: 20px;
}

.section-form .bg-success {
    background-color: #3f3a64 !important;
}

.section-form .image {
    position: relative;
}

.section-form .logo {
    position: absolute;
    top: 20px;
    right: -30px;
}

.section-form .logo img {
    width: 220px;
    border-radius: 100%;
}

@media screen and (max-width:920px) {
    .section-form .logo {
        position: relative;
        top: inherit;
        right: inherit;
    }
}


/* Section - Info */

.section-curso{
    padding:40px 0;
}
.section-curso h2 {
    font-size: 36px;
    text-align: center;
    color: #3f3a64;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
}

.section-curso h2:after {
    content: '';
    margin: 20px auto;
    width: 20%;
    height: 4px;
    position: relative;
    display: block;
    background: #3f3a64;
}

.section-curso h2+p {
    font-size: 16px;
    max-width: 70%;
    margin: 0 auto 20px;
    text-align: center;
}

.section-curso .btn.btn-success {
    background: #20ad96;
    border: 1px solid #1a58187a;
    border-bottom: 4px solid #1a58187a;
    padding: 15px 30px;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Open sans', Arial, Helvetica, sans-serif;
}

@media screen and (max-width:600px) {
    .section-curso .btn.btn-success {
        font-size: 24px;
    }
}

.section-curso .btn.btn-success:hover {
    background: #3f3a64;
    border: 1px solid #2018587a;
    border-bottom: 4px solid #2018587a;
}

.section-info {
    background: #3f3a64;
    border: 1px solid #2018587a;
    border-bottom: 8px solid #2018587a;
    color: #FFF;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.section-info i {
    font-size: 33px;
    margin: 0 0 15px 0;
}

.section-info p {
    margin: 0;
    font-size: 18px;
}


/* Section - About */

.section-reviews {
    padding:40px 0;
}
.section-about {
    padding: 40px 0;
    background: #3f3a64;
}

.section-about h2 {
    font-size: 42px;
    color: #ffffff;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    margin-bottom: 10px;
}

.section-about a {
    color: #3f3a64;
    text-decoration: none;
    font-weight: bold;
    font-size: 35px;
}

.section-about p {
    font-size: 16.8px;
    color: #ffffff;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
}


/* Section - Review */

.section-reviews {
    background: #F9F9F9;
    padding: 40px 0;
    position: relative;
}

.section-reviews h2 {
    font-size: 30px;
    color: #3f3a64;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    margin-bottom: 50px;
}

.review {
    min-height: 500px;
    padding: 40px 30px;
    border-radius: 10px;
    border: 1px solid #ededed;
    background: #FFF;
}

.review h3 {
    font-size: 16px;
    color: #3f3a64;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    margin-bottom: 10px;
}

.review p {
    font-size: 15px;
    color: #111;
}

.review .review-details {
    margin: 10px 0 20px;
}

.review .review-details img {
    width: 50px;
    border-radius: 100%;
}

.review .review-details h4 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}


/* Redes Sociais */

.section-redesociais {
    padding: 100px 0;
}

.section-redesociais h2 {
    font-size: 36px;
    text-align: center;
    color: #3f3a64;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
}

.section-redesociais h2:after {
    content: '';
    margin: 20px auto;
    width: 20%;
    height: 4px;
    position: relative;
    display: block;
    background: #3f3a64;
}

.section-redesociais ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.section-redesociais ul li {
    display: inline-block;
    padding: 0 10px;
}

.section-redesociais ul li a {
    display: block;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    line-height: 53px;
    font-size: 26px;
    text-align: center;
    background: #3f3a64;
    color: #FFF;
    transition: 0.3s all;
}

.section-redesociais ul li a:hover {
    background: #f56ed9;
}

.section-redesociais a {
    color: #3f3a64;
    text-decoration: none;
    font-weight: bold;
    font-size: 35px;
}

.section-redesociais p {
    font-size: 16.8px;
    color: #3f3a64;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
}


/* Swiper Carousel */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.swiper-slide {
    opacity: 0.7;
}

.swiper-slide.swiper-slide-active {
    opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
    color: #3f3a64 !important;
    font-weight: 600;
}

.swiper-pagination-bullet-active {
    background-color: #3f3a64 !important;
}


/* Footer */

footer {
    padding: 20px 0;
}

footer p {
    margin: 0;
}

.aviso-legal {
    font-size: 12px;
}

.aviso-legal p {
    margin-bottom: 8px;
}

.faq-questions h3.title {
    font-size: 22px;
    color: #333;
}

.faq-questions .content {
    color: #444;
}

.faq-questions .faq-accordion {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #DDD;
}

.btn-lg {
    padding: 10px 26px;
    font-size: 18px;
}

.service .service-box h5 {
    color: #183b56;
}

.features .icon i {
    color: #5ab3b7;
}

.service .service-box .service-icon i {
    font-size: 48px;
}

.service .service-box {
    min-height: 340px;
}

.testimonial.testimonial-bg {
    background-image: url(/frontend/images/cta-bg.png?2);
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mdi-flower {
    background: #e96319;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mdi-flower-outline {
    background: #5895cf;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mdi-flower-pollen {
    background: #f04774;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mdi-flower-pollen-outline {
    background: #f8c160;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mdi-flower-poppy {
    background: #f1517c;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mdi-flower-tulip {
    background: #982e9b;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mdi-gift-open-outline {
    background: #F00;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.color-purple {
    color: #982e9b;
}

.color-yellow {
    color: #f8c160;
}

.color-rosa {
    color: #f04774;
}

.color-red {
    color: #F00;
}

.color-green {
    color: rgb(17, 177, 65);
}

.color-blue {
    color: #5895cf;
}

.pricing ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pricing ul li {
    display: list-item;
    padding: 2px;
    color: #183b56;
}

.section-motives ul li {
    font-size: 19px;
    padding: 5px 0;
}

.fa-check.text-success{
    color:green;

}

